@import "tailwindcss";

:root {
  --color-bg: #1a1a1a;
  --color-surface: #2e2e2e;
  --color-elevated: #3c3c3c;
  --color-border: #4a4a4a;

  --color-text-main: #f0f0f0;
  --color-text-muted: #a0a0a0;

  --accent-green: #5d9948;
  --accent-yellow: #ffcc2a;
  --accent-red: #bf3e3e;
  --accent-blue: #0099ff;

  --shadow-block: 0 4px 0 0 rgba(0, 0, 0, .4);
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text-main);
  --color-surface: var(--color-surface);
  --color-elevated: var(--color-elevated);
  --color-border: var(--color-border);
  --color-text-main: var(--color-text-main);
  --color-text-muted: var(--color-text-muted);

  --color-accent-green: var(--accent-green);
  --color-accent-yellow: var(--accent-yellow);
  --color-accent-red: var(--accent-red);
  --color-accent-blue: var(--accent-blue);

  --font-body: var(--font-body);
  --font-title: var(--font-title);
  --font-mono: var(--font-mono);

  --shadow-block: var(--shadow-block);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-bg);
    --foreground: var(--color-text-main)
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-text-muted);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-main);
}

::-webkit-scrollbar-track {
  background: var(--color-border);
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}
